{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter your email" required>
    </div>
    <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Enter your username" required>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter your Password" required>
        <small class="form-text text-muted">Your password must contain at least one uppercase letter, one lowercase letter, one number, one special character and must be between 6 and 12</small>
    </div>
    <div class="form-group">
        <label for="">Password agin</label>
        <input type="password" class="form-control" name="password2" placeholder="Enter again your Password" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>
{% endblock %}
