<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">User App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link cursor">
            <i class="fas fa-user-circle fa-lg mr-2"></i>
            {{ user.username }}
          </a>
        </li>
        <li class="nav-item">
          <a
            href="javascript:{document.getElementById('logout').submit()}"
            class="nav-link cursor"
          >
            Logout
            <i class="fas fa-sign-out-alt fa-lg ml-2"></i>
          </a>
          <form action="{% url 'logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden" />
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'register' %}" class="nav-link cursor">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
